body
{
	background-image: url("../images/bgnd.png");
  position: fixed; 
  top: 0; 
  left: 0; 
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  right: 0;
  border-right: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.buttons {
  display:flex;
  justify-content:flex-end;
  align-items:center; 
} 
h1
{
	font-size: 40px;
}

input
{
  margin-bottom: 15px;
  display: block;
}
.form1
{
  margin-top: 100px;
  margin-left: 500px;
}
.text1
{
  width: 50%;
  height: 30px;
  border-radius: 10px;
}
.div1
{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 130px;
}

.button1,.button2:hover
{
  cursor: pointer;
}
.button1
{
  background-color: #90ee90;
  border-right: 40px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 16px;
  width: 300px;
  border-radius: 15px;
}

.button2
{
  background-color: #90ee90;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 15px;
}
